<div class="container">
  <h1 class="logo"><a tabindex="2" accesskey="1" href="/"><img src="/static/bank-accounts.png" width=150 height=150 /></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bank</h1>

<br>
<h3>Bank Status:</h3>
<br>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <td>Bank API UP:</td>
      <td>{{ .Up }}</td>
    </tr>
  </thead>
</table>
<hr>
<p>
<div align=right>
<a href="/openbank"><button type="button" class="btn btn-primary btn-sm">Open Bank</button></a>
<a href="/closebank"><button type="button" class="btn btn-primary btn-sm">Close Bank</button></a>
</div>

<p><br><br>
<a href="/accounts"><button type="button" class="btn btn-primary btn-sm">List Accounts</button></a>

</div>

