<div class="container">
  <h1 class="logo"><a tabindex="2" accesskey="1" href="/"><img src="/static/bank-accounts.png" width=150 height=150 /></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bank</h1>

{{ if .Success }}

<br>
<h3>New account submitted!</h3>
<p><br>
<a href="/accounts"><button type="button" class="btn btn-primary btn-sm">Accounts</button></a>
</p>

{{ else }}

<br>
<h3>Create Account:</h3>
<br>
<form class="form-horizontal" action="/newaccount" method="POST">

  <div class="form-group">
    <label for="accountnumber" class="col-sm-2 control-label">Account Number:</label>
    <input type="text" class="col-md-1" name="accountnumber" size="10">
  </div>
  <div class="form-group">
    <label for="accountname" class="col-sm-2 control-label">Account Name:</label>
    <input type="text" class="col-md-3" name="accountname" size="30">
  </div>
  <div class="form-group">
    <label for="accountbalance" class="col-sm-2 control-label">Account Balance:</label>
    <input type="text" class="col-md-1" name="accountbalance" size="30">
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </div>
  </div>
</form>

<p><br><br>
<a href="/accounts"><button type="button" class="btn btn-primary btn-sm">List Accounts</button></a>

{{end}}
</div>

