<div class="container">
  <h1 class="logo-small">
    <a tabindex="2" accesskey="1" href="/"><img width=150 height=150 src="/static/calendar-icon.png" /></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Schedules
  </h1>

{{ if .Success }}

<br>
<h3>New schedule created!</h3>
<p><br>
<a href="/schedules"><button type="button" class="btn btn-primary btn-sm">List Schedules</button></a>
</p>

{{ else }}

<br><br>
<h3>Create New Schedule:</h3>
<br>

<form class="form-horizontal" action="/newschedule" method="POST">

  <div class="form-group">
    <label for="email" class="col-sm-3 control-label">Email Address:</label>
    <input type="text" class="col-sm-3" name="email" size="20" placeholder="notification@org.com">
  </div>

  <div class="form-group">
    <label for="description" class="col-sm-3 control-label">Description:</label>
    <input type="text" class="col-sm-4" name="description" size="30" placeholder="Temporal Schedule Comment Description">
  </div>

  <div class="form-group">
    <label for="minutes" class="col-sm-3 control-label">Minutes Past Hour:</label>
    <input type="text" class="col-sm-1" name="minutes" size="2" placeholder="30">
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <button type="submit" class="btn btn-primary btn-sm">Create</button>
    </div>
  </div>
</form>

<p><br><br>
<a href="/schedules"><button type="button" class="btn btn-primary btn-sm">List Schedules</button></a>

{{end}}
</div>
