<div class="container">
  <h1 class="logo-small">
    <a tabindex="2" accesskey="1" href="/"><img width=150 height=150 src="/static/calendar-icon.png" /></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Schedules
  </h1>

  <br>
  <h3>Schedule Details:</h3>
  <br>

<form class="form-horizontal" action="/updateschedule?id={{ .Id }}" method="POST">

  <div class="form-group">
    <label for="schid" class="col-sm-3 control-label">ScheduleID:</label>
    <input type="text" class="col-sm-3" name="schid" size="30" value="{{ .Id }}" readonly>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-3 control-label">Description:</label>
    <input type="text" class="col-sm-5" name="description" size="30" value="{{ .Description }}" placeholder="{{ .Description }}">
  </div>
  <div class="form-group">
    <label for="minutes" class="col-sm-3 control-label">Minutes:</label>
    <input type="int" class="col-sm-1" name="minutes" size="5" value="{{ .Minutes }}">
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-9" align=right>
      <br><button type="submit" class="btn btn-primary btn-sm">Update Schedule</button>

      <a href="/deleteschedule?id={{ .Id }}"><button type="button" class="btn btn-primary btn-sm">Delete Schedule</button></a>
    </div>
  </div>
</form>

  <p><br>
    <a href="/schedules"><button type="button" class="btn btn-primary btn-sm">List Schedules</button></a>

</div>
