<div class="container">
  <h1 class="logo"><a tabindex="2" accesskey="1" href="/"><img src="/static/money-transfer.jpeg" /></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Money Transfer</h1>

<br>
<h3>Transfer Details:</h3>
<br>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <td>ID</td>
      <td>Origin</td>
      <td>Destination</td>
      <td>Amount</td>
      <td>Reference</td>
      <td>Status</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ .Id }}</td>
      <td>{{ .Origin }}</td>
      <td>{{ .Destination }}</td>
      <td>{{ .Amount }}</td>
      <td>{{ .Reference }}</td>
      <td>{{ .Status }}</td>
    </tr>
  </tbody>
</table>

<br>
<h3>Temporal Workflow Details:</h3>
<br>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <td>Task Queue</td>
      <td>Workflow ID</td>
      <td>Run ID</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ .TTaskQueue }}</td>
      <td>{{ .TWorkflowId }}</td>
      <td>{{ .TRunId }}</td>
    </tr>
  </tbody>
</table>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <td>Result</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ .TInfo }}</td>
    </tr>
  </tbody>
</table>

<p><br>
<div align=right>
  <a href="/queryworkflow?id={{ .Id }}"><button type="button" class="btn btn-primary btn-sm">Workflow History</button></a>
  <a href="/resettransfer?id={{ .Id }}"><button type="button" class="btn btn-primary btn-sm">Resubmit Request</button></a>
</div>

<p><br><br>
<a href="/transfers"><button type="button" class="btn btn-primary btn-sm">List Transfers</button></a>

<script>
  setTimeout("location.reload(true);", 5000);
</script>

</div>

